*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #09181f;  
    text-transform: capitalize;
}

body{
    background-color: #fefae0;
    margin: 0;
}

nav{
    width: 100%;
    height: 40px;
    background-color:#09181f ;
}

img{
    width: 13%;
}


/* ---------------------------------- */


.main{
    background-image: url("./assets/css/meat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vh;  
    text-align: center;
    padding-top: 20px;
}

h1{
    color: #fefae0;
    margin: 0;
}

.buttons{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    background-color: #fefae0;
}

.button{
    padding: 7px;
    margin: 10px;
    border-radius: 40px;
    flex-basis: 33.333%;
    color: #fefae0;
}

.breakfast{
    background-image: url(./assets/css/soup6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fish{
    background-image: url(./assets/css/fish2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grill{
    background-image: url(./assets/css/grill.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

/* --------------------------------------- */


h2{
    border-bottom: 1px #09181f solid;
}
    
.menu{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
    
.menu-inner{
    margin: 20px;
}

.f{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}



.footer {
    background-color: #09181f;
    text-align: center;
    padding: 10px ;
    margin-top: 10px ;
}

.footer p{
    color: #fefae0;
}

footer{
    background-color: #023047;
    padding: 5px;
    text-align: center;
}

footer p{
    color: #fefae0;
}