*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fefae0;  
}

body{
    background-color: #fefae0;
}

nav{
    width: 100%;
    height: 40px;
    background-color:#09181f ;
}

img{
    width: 13%;
}

h1 {
     position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    color: #fefae0;    
}

.slogan{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    font-weight: 700;
    transform: translate(-50%);

}

.mainimg{
    position: relative;
    height: 80vh;
   max-width: 100%;
   margin-bottom: 20px;
    background-image: url(./menu1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    text-transform: capitalize;
    text-align:center;
    margin:30px 10px
}

.drinks{
    background-image: url(./drinks.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 7px;
    margin: 10px;
    border-radius: 40px;

}

.starters{
     background-image: url(./starters.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 7px;
    margin: 10px;
    border-radius: 40px;
}

.main{
     background-image: url(./grilled.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 7px;
    margin: 10px;
    border-radius: 40px;
}

.appetisans{
     background-image: url(./appetisans.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 7px;
    margin: 10px;
    border-radius: 40px;
}

.footer{
    background-color: #09181f;
    text-align: center;
    padding: 10px ;
    margin-top: 10px ;
}

footer{
    background-color: #023047;
    padding: 5px;
    text-align: center;

}